[Unit]
Description=Run consign drain every 6 hours

[Timer]
OnCalendar=*-*-* 00/6:00:00
OnBootSec=5min
Persistent=true

[Install]
WantedBy=timers.target
